* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

.header {
	background-color: black;
	color: white;
	
}

th {
	border: 1px solid black;
	border-spacing: 0px;
	padding: 5px;
}

tr th:nth-child(2) {
	text-align: left;
}