/* NAVIGATION*/

.wrap__nav {
	width: 100%;
	height: 90px;
	position: fixed;
	background: rgba(230, 246, 247, .77);
	z-index: 100;
}

.nav__logo {
	display: inline-block;
	padding-top: 5px;
	padding-left: 5px;
}

.nav {
	display: inline-block;
	position: relative;
	width: 100%;
}

.nav__list {
	display: inline-block;
}

.nav__list li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: -20px;
	color: #2C65AF;
	text-shadow: 0 0 8px #fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	top: -71px;
	left: 66px;
	font-weight: bold;
}

.nav__list li:after {
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	background-color: #EB611E;
	transition: width 0.5s ease-in-out 0.1s;
}

.nav__list li:hover {
	color: #EB611E;
}

.nav__list li:hover:after {
	width: 100%;
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.nav__list li {
		left: 150px;
		font-size: 20px;
	}
}

.nav-toggle {
	position: fixed;
	display: none;
	text-transform: uppercase;
	font-weight: 800;
	color: #ffffff;
	font-size: 18px;
	right: 51px;
	top: 7px;
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 12px;
	cursor: pointer;
	outline: none;
}

.checkbox {
	display: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
	.nav ul {
		display: none;
		top: 90px;
		position: fixed;
		background-color: rgba(230, 246, 247, .77);
		height: 100vh;
		width: 30%;
		right: 0;
		
	}

	.nav ul li {
		display: block;
		font-size: 16px;
		margin-top: 40px;
		top: 50px;
		left: 20px;
	}

	.nav ul li:hover:after {
  		width: 0%;	
	}

	.nav-toggle {
		display: block;
	}

	.checkbox:checked ~ .nav-toggle {
		color: #EB611E;
		border: 2px solid #EB611E;
	}

	.checkbox:checked ~ .checked {
		display: block;
	}

}


.nav__contacts {
	display: inline-block;
	margin-top: 20px;
	position: absolute;
	top: 0px;
	left: calc(60% + 200px);
}

@media screen and (max-width: 1320px) {
	.nav__contacts {
		display: none;
	}
}

.nav__contacts img {
	width: 36px;
	height: 36px;
}

.nav__contacts__phone {
	font-weight: bold;
	display: inline-block;
	margin-left: 10px;
}

.nav__contacts__phone p {
	margin-top: 5px;
}

.nav__contacts__phone p span {
	color: #EB611E;
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.nav__contacts__phone p {
		font-size: 20px;
		margin-top: 0;
	}

		.nav__contacts img {
		width: 39px;
		height: 39px;
		margin-top: 0px;
	}

}


/* BLOCK 1*/

.wrap__head {
	background-image: url(p1.jpg);
	background-size: cover;
	width: 100%;
	height: 800px;
	text-align: center;
}

.head {
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	padding-top: 200px;
	padding-bottom: 400px;
}

.head__p {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #EB611E;
	text-shadow: 1px 1px black;
}

.head__p__description p {
	display: inline-block;
	padding-top: 42px;
	margin-left: 38px;
	margin-right: 38px;
	font-size: 32px;
	color: #EF7B37;
	text-shadow: 1px 1px black;
}

.huge {
	padding-top: 70px;
	padding-left: calc(50% - 120px);
	display: block;
}

.head__know-more {
	position: relative;
	display: inline-block;
	color: #0b1016;
	font-size: 17px;
	font-weight: 800;
	text-transform: uppercase;
	background-color: #EB611E;
	color: #fff;
	width: 220px;
	height: 60px;
	padding-top: 15px;
	padding-right: 58px;
	padding-left: 56px;
	border: 2px solid #EB351E;
	margin-top: 55px;
}

.head__know-more:after {
	content: '';
	display: block;
	height: 2px;
	width: 0%;
	background-color: #fff;
	transition: width 0.5s ease-in-out;
}

.head__know-more:hover:after{
	width: 100%;
	display: block;
}

.head__know-more:hover {
	transition: background .1s linear;
}

.head__know-more:active {
	top: 1px;
	background-color: #3E93C9;
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.head__p {
		font-size: 62px;
	}

	.head__p__description p {
    	font-size: 45px;
	}

}


/* BLOCK 2 */

.wrap__quality {
	background-color: #f5f3fd;
}

.quality {
	width: 40%;
	padding-left: 50px;
	margin-top: -120px;
	display: inline-block;
}

.quality__text {
	width: 40%;
	font-size: 20px;
	display: inline-block;
	margin-left: 72px;
	padding-bottom: 50px;
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.quality {
		padding-left: 200px;	
		position: relative;
		top: -18px;
		width: 48%;
	}

	.quality__text {
		font-size: 22px;
	}

	.quality img {
		width: 100%;
	}

}

@media screen and (max-width: 1400px) {
	.quality img {
		width: 100%;
	}

	.quality__text {
		width: 40vw;
	}
}

@media screen and (max-width: 1150px) {
	.wrap__quality {
		text-align: center;
	}

	.quality {
		width: 60%;
		display: block;
}
	.quality__text {
		width: 60%;
		display: block;
	}
}

@media screen and (max-width: 1099px) {
	.head__know-more {
		display: none;
	}
}


.qa__text__item {
	color: #2C65AF;
	display: block;
	width: 600px;
	padding-top: 20px;
}

.quality__triggers {
	width: 100%;
	text-align: center;
}

.trig {
	display: block;
	padding-bottom: 50px;
}

.trig__text {
	font-size: 20px;
	display: inline-block;
	max-width: 700px;
	text-align: left;
	
}

.trig__img {
	display: inline-block;
	vertical-align: top;
	margin-top: -50px;
	padding-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.trig__text h3 {
	color: #EB611E;
	padding-bottom: 20px;
}

.trig__text p {
	color: #2C65AF;
}

.t2 {
	padding-left: 20px;
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.trig__text {
		font-size: 22px;
	}
}

/* BLOCK 3 */

.wrap__offer {
	background-image: url(present.jpg);
	background-size: cover;
	background-attachment: fixed;
	border-top: 6px dashed red;
	border-bottom: 6px dashed red;
}

.offer {
	position: relative;
	text-align: center;
}

.offer__title {
	font-size: 50px;
	color: #EB351E;
	font-weight: bold;
	padding-top: 50px;
	padding-left: 50px;
	font-style: italic;
	text-align: left;
	text-shadow: 1px 1px 2px black, 0 0 2em #30dae0;
}

.offer__title2 {
	font-size: 38px;
	color: #EB351E;
	padding-top: 25px;
	padding-left: 50px;
	font-style: italic;
	text-shadow: 1px 1px 2px black, 0 0 2em #30dae0;
}

.offer__description {
	width: 330px;
	font-size: 22px;
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: 35px;
	margin-left: 18px;
	margin-right: 18px;
	text-align: center;
	background-color: #e0f3f4;
	border: 5px solid #38e2e8;

}

.offer__description img {
	width: 100%;
}

.offer__description p {
	color: #2C65AF;
	font-size: 22px;
	padding-top: 20px;
}

.offer__description p span {
	text-transform: uppercase;
	color: #EB611E;
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.wrap__offer {
		border-top: 10px dashed red;
		border-bottom: 10px dashed red;
	}
	.offer__title {
    	font-size: 60px;
    }

    .offer__title2 {
    	padding-left: 312px;
    	font-size: 56px;
    }

    .offer__description {
    	width: 350px;
    }

    .offer__description p{
    	font-size: 24px;
    }
}

/* BLOCK 4 */

.wrap__container {
	background-color: #f5f3fd;
	padding: 20px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
}

.product1,
.product2 {
	width: 40%;
	background-color: #fff;
	border: 1px solid #cccccc;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;	
	min-height: 865px;
}

@media screen and (max-width: 1112px) {
	.wrap__product {
		text-align: center;
	}

	.product1,
	.product2 {
		width: 75%;
		display: block;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.product2 {
		min-height: 971px;
	}
}

.product__item {
	font-size: 26px;
	color: #EB351E;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 10px;
}

.product__description {
	font-size: 20px;
	color: #2C65AF;
	padding-top: 8px;
	padding-bottom: 8px;
}

.product__items {
	display: inline-block;
	vertical-align: middle;
}

.product__priсe {
	display: inline-block;
	padding-left: 26px;
}

.product__priсe p {
	color: #EB351E;
	font-size: 30px;
	padding-left: 26px;
	padding-top: 0;
}

.product__priсe p:nth-child(2) {
	font-size: 12px;
}

.product2 .product__description {
	padding-bottom: 3px;
}

.img {
	position: relative;
}

.img .product__picture {
	width: 100%;
	height: 100%;
}

.hover {
	background-color: rgba(21, 130, 187, 0.6);
	text-align: center;
	width: auto;
	height: auto;
	display: block;
	position: absolute;
	z-index: 1;
	top: 3%;
	bottom: 3%;
	left: 5%;
	right: 5%;
	overflow: hidden;
	transition: .5s;
	transform: rotateY(90deg);
	padding: 3%;
	font-size: 20px;
}

.img:hover .hover {
	opacity: 1;
	transition: .5s;
	transform: rotateY(0deg);

}

.hover li {
	text-align: left;
	font-size: 19px;
	color: #fff;
	padding-top: 22px;
	padding-left: 10px;
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.hover li {
	    font-size: 29px;
	    padding-top: 30px;
	}
}

.product__about {
	text-align: left;
	padding-top: 7px;
	padding-left: 20px;
	font-size: 18px;
}

.product__about p {
	padding-top: 8px;
	color: #2C65AF;
}

.product__trigger__item {
	font-size: 26px;
	padding: 25px;
	color: #EB351E;
}

.product__triggers {
	text-align: center;	
}

.product__trigger {
	width: 40%;
	position: relative;
	display: inline-block;
	padding: 20px;
	padding-top: 75px;
	color: #565551;
}

.mix:before {
	content: url(mix.png);
	position: absolute;
	top: 13px;
	left: calc(50% - 21px);
}

.rebuild:before {
	content: url(rebuild.png);
	position: absolute;
	top: 13px;
	left: calc(50% - 21px);
}

.immunity:before {
	content: url(immunity.png);
	position: absolute;
	top: 13px;
	left: calc(50% - 21px);
}

.strength:before {
	content: url(strength.png);
	position: absolute;
	top: 13px;
	left: calc(50% - 21px);
}

.accuracy:before {
	content: url(accuracy.png);
	position: absolute;
	top: 13px;
	left: calc(50% - 21px);
}

@media screen and (min-width: 1920px) {
	.product__item {
	    font-size: 32px;
	}

	.product__description {
    	font-size: 23px;

	}

	.product__priсe p {
		font-size: 36px;
		padding-top: 0;
		position: relative;
		top: 28px;
	}

	.product__priсe p:nth-child(2) {
		font-size: 16px;
	}

	.product__about {
		padding-top: 13px;
    	padding-left: 48px;
    	font-size: 22px;
	}

	.product__trigger__item {
    	font-size: 34px;
    	padding-top: 24px;
    	padding-bottom: 45px;
	}

	.product__triggers {
		font-size: 24px;
	}

	.product__trigger {
		padding: 64px;
		padding-top: 92px;
	}

	.mix:before {
		content: url(mix1920.png);
		top: -5px;
    	left: calc(50% - 32px);
	}

	.rebuild:before {
		content: url(rebuild1920.png);
		top: -5px;
    	left: calc(50% - 32px);
	}

	.immunity {
		padding-top: 120px;
	}

	.immunity:before {
		content: url(immunity1920.png);
		top: -5px;
    	left: calc(50% - 32px);
	}

	.strength:before {
		content: url(strength1920.png);
		top: -5px;
    	left: calc(50% - 32px);
	}

	.accuracy:before {
		content: url(accuracy1920.png);
		top: -5px;
    	left: calc(50% - 32px);
	}

}

 .box {
    width: 100%;
    max-width: 600px;
    min-height: 0;
    display: block;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
}

.box2 {
	margin-top: 15px;
	width: 100%;
    max-width: 600px;
    min-height: 0;
    display: block;
    position: relative;
    margin-top: 14px;
    overflow: hidden;
    margin: 0 auto;
}

.box__title {
    display: block;
    padding: 10px 25px;
    cursor: pointer;
    background-color: #92cef0;
    color: #fff;
    font-size: 18px;
}

.box__title2 {
    display: block;
    padding: 10px 25px;
    cursor: pointer;
    background-color: #92cef0;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
}

.box__text {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
}

.box__text2 {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
}
 
.icon {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 132px;
}

.icon2 {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 31px;
  right: 132px;
}

.icon:before, .icon:after {
  content: "";
  position: absolute;
  background-color: #eee;
  width: 3px;
  height: 9px;
}

.icon:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.icon:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.icon2:before, .icon2:after {
  content: "";
  position: absolute;
  background-color: #eee;
  width: 3px;
  height: 9px;
}

.icon2:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.icon2:after {
  transform: translate(2px, 0) rotate(-45deg);
}

input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  right: 10px;
}

input[type=checkbox]:checked ~ div.box__text {
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

input[type=checkbox]:checked ~ div.box__text2 {
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

div.box__text,  i:before, ul li i:after {
    transition: all 0.5s ease-in-out;
}

div.box__text2,  i:before, ul li i:after {
    transition: all 0.5s ease-in-out;
}

@media screen and ( min-width: 1920px ) {
	.box2 input[type=checkbox] {
		margin-top: 13px;
	}

	.box__title2 {
		margin-top: 15px;
	}

	.box__title {
		font-size: 20px;
	}
}

table {
	width: 100%;
	text-align: left;
	padding: 15px;
}

td {
	padding: 10px;
	color: #2C65AF;
}

tr:nth-child(even) {
	background-color: #f8ffff;
}

tr:nth-child(odd) {
	background-color: #f5f3fd;
}

@media screen and (min-width: 1920px) {
	.box {
    	width: 100%;
    	max-width: 750px;
	}

	.box2 {
    	width: 100%;
    	max-width: 750px;
	}

}


/* BLOCK 5 */
	
.wrap__sert {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	text-align: center;
	width: 100%;
	border-top: 6px dashed #3fe2d8;
	border-bottom: 6px dashed #3fe2d8;
}

.sert__title {
	text-align: center;
	font-size: 40px;
	color: #2C65AF;
    text-shadow: 0 0 8px #fff;
    padding-bottom: 20px;
}

.sert {
	width: 80%;	
	margin-right: auto;
	margin-left: auto;
}

.sert img {
	width: 100%;
	height: 100%;
	padding-right: 8px;
}

.sert_logos {
	text-align: left;
	padding-left: 192px;

}

.sert__logo {
	display: inline-block;
	width: 15%;
}

.sert__logo img {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 1920px) {
	.wrap__sert {
		border-top: 10px dashed #3fe2d8;
		border-bottom: 10px dashed #3fe2d8;
	}

	.sert__title {
		font-size: 55px;
	}
	
	.sert_logos {
    	padding-left: 278px;
	}

	
}

/* DELIVERY */

.wrap__delivery {
	background-image: url(pic-del.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
    padding: 40px 20px;
}

.delivery {
	width: 40%;
	display: inline-block;
	padding: 60px;
	margin-left: 50px;
	background-color: rgba(245, 243, 253, .8);

}

.dev__item {
	font-size: 36px;
	color: #636b6b;
	font-weight: bold;
    padding-bottom: 20px;
    font-style: italic;
    position: relative;
    padding-bottom: 60px;
    padding-left: 20px;
}

.dev__text {
	font-size: 22px;
	color: #636b6b;
	font-style: italic;
	position: relative;
	padding-bottom: 60px;
	padding-left: 20px;
}

.dev__text::after {
	content: url(delivery.png);
	display: block;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0;
	left: -32px;
}


.dev__time {
	font-size: 22px;
	color: #636b6b;
	font-style: italic;
	padding-top: 20px;
	position: relative;
	padding-left: 20px;
}

.dev__time::after {
	content: url(dev.png);
	display: block;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 11px;
	left: -32px;
}


.sert__margin {
	display: inline-block;
	vertical-align: top;
	margin-top: -280px;
	padding-left: 182px;
}

.sert__margin img {
	width: 100%;
}

@media screen and (min-width: 1920px) {
	.delivery {
		margin-left: 238px;
	}

	.dev__item {
		font-size: 40px;
	}

	.dev__text {
		font-size: 25px;
	}
}

@media screen and (max-width: 1282px) {
	.sert__margin {
	margin: auto;
	width: 55%;
}
}

@media screen and (max-width: 1145px) {
	.sert__margin {
	margin: auto;
	width: 40%;
}
}

@media screen and (max-width: 935px) {
	.sert__margin {
	display: none;
}
	.delivery {
		width: 80%;
	}

	.wrap__delivery {
		text-align: center;
	}
}

.wrap__contacts {
	background-color: #eafeff;
}

.contact {
  max-width: 467px;
  min-width: 320px;
  padding-top: 30px;
  padding-left: 60px;
  display: inline-block;
}
.contact * {
  outline: none;
  border: 0;
  background: none;
}
form fieldset {
  display: block;
  padding: 25px 30px;
}
form .row {
  margin: 0 -15px;
}
form .col-2 {
  width: 50%;
}
form .col {
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
form .row:after {
  content: '';
  display: table;
  clear: both;
}
 form section {
  margin-bottom: 20px;
}
form .input, form .textarea, form .radio, form .checkbox, form .button {
  position: relative;
  display: block;
}
form .fa-append {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 29px;
  height: 29px;
  padding-left: 3px;
  border-left: 1px solid #e5e5e5;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #ccc;
}
.fa {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-user:before {
  content: "\f007";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-comment:before {
  content: "\f003";
}
form .input .fa-append + input, form .textarea .fa-append + textarea {
  padding-right: 46px;
}
form .input input, form .textarea textarea {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 39px;
  padding: 8px 10px;
  outline: none;
  border: 2px solid #e5e5e5;
  border-radius: 0;
  background: #fff;
  font: 13px/19px sans-serif;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}
form .textarea textarea {
  height: auto;
  resize: none;
  overflow:auto;
}
form .input:hover input,
form .textarea:hover textarea,
form .checkbox:hover i {
   border-color: #ffc34a;
}
form .input input:focus,
form .textarea textarea:focus,
form .checkbox input:focus + i {
	border-color: #ffc34a;
}
form .button {
  float: right;
  height: 39px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 0 20px;
  outline: none;
  border: 0;
  background-color: #EB611E;;
  font: 300 13px/39px 'Open Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
form .button:hover {
  opacity: 1;
}
@media screen and (max-width: 470px){
	.col, .col-2 { float: none !important; width: 100% !important;}
}

.title__contact {
	text-align: center;
    font-size: 40px;
    color: #2C65AF;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contact__item2 {
	display: inline-block;
	margin-left: 50px;
	vertical-align: top;
	margin-top: 30px;
}

.nav__contacts2 img {
	width: 45px;
	height: 45px;
}

.nav__contacts__phone2 {
	font-weight: bold;
	display: inline-block;
	margin-left: 10px;
}

.nav__contacts__phone2 p {
	margin-top: 5px;
	font-size: 22px;
}

.nav__contacts__phone2 p span {
	color: #EB611E;
}

.m {
	display: inline-block;
}

.mail__img {
	margin-left: 30px;
}

.mail {
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 10px;
}

@media screen and (max-width: 1376px) {
	.wrap__contacts {
		text-align: center;
	}

	.m {
		display: block;
		margin-top: 20px;
		margin-left: -30px;
	}
}

@media screen and (max-width: 942px) {
	.wrap__contacts {
	
	}

	.con__img {
		display: inline-block;
	}
}

.con__img {
	padding-top: 55px;
	text-align: center;
	display: block;
}

.con__img img {
	width: 140px;
	height: auto;
	display: inline-block;
}

.con__img p {
	display: inline-block;
	font-size: 18px;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 3px;
	text-align: left;
}

@media screen and ( min-width: 1920px ) {
	.nav__contacts2 {
		vertical-align: middle;
		margin-top: 80px;
	}

	.con__img {
		padding-top: 160px;
		margin-top: -204px;
		margin-left: 20px;
		display: inline-block;
		vertical-align: middle;
}

}

@media screen and ( min-width: 1920px ) {
	.title__contact {
	    font-size: 50px;
	}

	.contact__item2 {
		margin-top: 50px;
	}
}
/* FOOTER */

footer {
	height: 30px;
	padding-top: 10px;
	background-color: #252525;
	color: #fff;
	font-size: 11px;
	text-align: center;
}